
body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, code, fieldset, legend, button, input, textarea, th, td {
    margin:0;
    padding:0;
}
body, button, input, select, textarea {
    font:12px/1 Arial, Helvetica, "\5b8b\4f53", sans-serif;
    overflow: hidden;
}
h1 {
    font-size:18px
}
h2 {
    font-size:16px
}
h3 {
    font-size:14px
}
h4, h5, h6 {
    font-size:100%
}
address, cite, dfn, em, var {
    font-style:normal
}
code, kbd, pre, samp, tt {
    font-family:"Courier New", Courier, monospace
}
i,b{
    text-decoration: none;
    font-weight:normal;
    font-style: normal;
}
small {
    font-size:12px
}
ul, ol {
    list-style:none
}
:link, :visited {
    text-decoration:none
}
a:hover {
    text-decoration:underline
}
abbr,acronym{
    border:0;
    font-variant: normal;
    cursor: help;
}
q:before, q:after {
    content:''
}
legend {
    color:#000
}
fieldset, img {
    border:none
}
:focus{
    outline: 0;
}
button, input, select, textarea ,optgroup, option{
    font-size:100%;
    font-family: inherit;
    font-weight: inherit;
}
/*@purpose To enable resizing for IE6,IE7*/
input, button, textarea , select{
    *font-size:100%;
}
table {
    border-collapse:collapse;
    border-spacing:0
}
hr {
    border:none;
    height:1px
}
html {
    overflow-y:scroll
}

sup, sub{
    font-size: 100%;
    vertical-align:baseline;
}

q:before, q:after{
    content:'';
}

.clearfix:after{
    content:'.';
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}

.clearfix{display: inline-block;}
* html .clearfix{height: 1%;}
.clearfix {display: block;}